.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav {
    margin: auto;
    transform: translateX(100px);
}

.mainLogo {
    width: 260px;
}

.nav-link {
    font-family: 'Amaranth';
    font-size: 26px;
}

.navbar-nav .nav-item {
    margin-right: 55px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainBackground {
    flex: 1;
}

footer {
    font-family: 'Amaranth';
    font-size: 22px;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

.category-card:hover {
    background-color: #a0a0a0;
    cursor: pointer;
}

#searchButton {
    background-color: #0d6efd;
    color: #ffffff;
    font-weight: bold;
}

    #searchButton:hover {
        background-color: #9f9f9f;
    }
