.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav {
    margin: auto;
    transform: translateX(100px);
}

.mainLogo {
    width: 260px;
}

.nav-link {
    font-family: 'Amaranth';
    font-size: 26px;
}

.navbar-nav .nav-item {
    margin-right: 55px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainBackground {
    flex: 1;
}

footer {
    font-family: 'Amaranth';
    font-size: 22px;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-card:hover {
    background-color: #a0a0a0;
    cursor: pointer;
    color: #ffffff;
}

.category-card:hover i {
    color: #ffffff;
}

#searchButton {
    background-color: #0d6efd;
    color: #ffffff;
    font-weight: bold;
}

#searchButton:hover {
    background-color: #9f9f9f;
}

.product-text.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #007bff;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:hover {
    background-color: #0056b3;
    color: white;
}

b.Admin {
    color:red;
}

b.Customer {
    color: green;
}

b.Support {
    color: orange;
}

.user-icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-count {
    position: inherit;
    margin-left: -7px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.dropdown-item span.cart-count {
    margin-left: -1px;
}

.cart-count.single-digit {
    padding: 3px 6px;
}

.dropdown-item span.cart-count.single-digit {
    padding: 0px 5px;
}

.cart-count.double-digit {
    padding: 6px 6px;
}

.dropdown-item span.cart-count.double-digit {
    padding: 3px 5px;
}